body {
  background-color: #434242;
  color: #EEEEEE;
  font-family: 'Cardo', serif;;
}

h1, h2 {
	color: #609966;
}

h1 {
	font-family:'Indie Flower', cursive;
	font-weight: bald;
	letter-spacing: 5px;
	font-size: 60px;
}

p {
	color: #574F7D;
	font-weight: lighter;
}

a {
	text-decoration: none;
	color: blue;
	font-weight: bold;
}

a:hover {
	color: #434242;
}

#photoprofil {
	width: 300px;
}

.container {
	width: 700px;
	margin: 40px auto;	
}

@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

.card-grey {
	background-color: rgb(240, 240, 240);
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	margin: 30px 0px;
	text-align: center;
}

.img-circle {
	border-radius: 20%;
	width: 300px;
}

.btn-green {
	background-color: #68B984;
	color: black;
	padding: 15px 20px;
	border-radius: 4px;
}

.btn-beta {
	color: black;
	background-color: #82C3EC;
	padding: 15px 20px;
	border-radius: 4px;
}

.list-horizontal {
	list-style: none;
	padding-left: 0px;
}


.list-horizontal li {
	display: inline;
	padding: 10px;
}

.list-horizontal i {
	font-size: 50px;
}

.list-horizontal i:hover {
	color: grey;
}

#introduction p {
	margin-bottom: 30px;
}

#Beta img {
	margin-bottom: 15px;
}